.caja-container {
    width: 80%;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 30px auto;
}

.caja-header {
    background-color: #66c2ff;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    padding: 10px 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
}

.caja-body {
    padding: 20px;
    color: #333;
}
