.content-area{
        padding: 20px 0px 20px 0px;
    }
.formulario-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-secciones-form{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.seccion-form{
    width: 100%;
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columnas iguales */
  gap: 10px; /* espacio entre los elementos */
}
.checkbox-multiple-generos{
    display: flex;
    flex-direction: row;
}

.tabla-inscritos {
    margin-top: 1.5rem;
    width: 100%;
    min-height: 200px;
}

.contenedor-boton-registrar-est{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.boton-ins-lista{
    background-color: white;
    color: #003366;
    margin-bottom: 20px;
    margin-left: 10px;
}
.boton-ins-guardar{
    background-color: white;
    color: #003366;
    margin-bottom: 20px;
    margin-right: 10px;
}

.contenedor-botones-tabla-est-inscritos{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.contenedor-form-info{
    background-color: #003366;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding-top: 1%;
}

.botones-editar-eliminar-tabla-est{
    background-color: #ffff !important;
    color: #003366 !important;
    border: 2px solid #003366 !important;
    padding: 0.5em !important;
}
.boton-eliminar-form{
    width: 100%;
    display: flex;
    justify-content: end;
}
.boton-eliminar-form-bf{
    margin-top: 0 !important;
    border-radius: 35px !important;
}
.div-boton-guardar-form-est{
    display: flex;
    justify-content: center;
}

.boton-guardar-form-est{
    border: 2px solid white !important;
    margin-bottom: 10px !important;    
}
.boton-descargar-excel {
    display: inline-block;
    padding: 8px;
    background-color: #003366;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}  
.boton-descargar-excel:hover {
    background-color: #45a049;
}
.tabs-participantes {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
.tab-boton-form-ins{
    background-color: white !important;
    color: #003366 !important;
}
.tab-boton-form-ins.activo{
    background-color: #003366 !important;
    color: white !important;
}

@media (max-width: 660px){
    .seccion-form{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media (max-width: 555px){
    .caja-body input{
        padding-left: 35px;
    }
    .contenedor-form-info{
        width: 90%;
    }
    
}