.formulario-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-secciones-form{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.seccion-form{
    flex: 1; /* 🔁 Ocupa el mismo espacio que sus hermanos */
    padding: 1rem;
    box-sizing: border-box; /* Importante para que padding no rompa el layout */
    padding: 0;
    justify-content: center !important;
    align-items: center;
    padding-left: 1%;
}
.checkbox-multiple-generos{
    display: flex;
    flex-direction: row;
}

.tabla-inscritos {
    margin-top: 1.5rem;
    width: 100%;
    min-height: 200px;
}

.contenedor-boton-registrar-est{
    display: flex;
    justify-content: end;
}

.contenedor-botones-tabla-est-inscritos{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.contenedor-form-info{
    background-color: #003366;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.botones-editar-eliminar-tabla-est{
    background-color: #ffff !important;
    color: #003366 !important;
    border: 2px solid #003366 !important;
    padding: 0.5em !important;
}
.boton-eliminar-form{
    width: 100%;
    display: flex;
    justify-content: end;
}
.boton-eliminar-form-bf{
    margin-top: 0 !important;
    border-radius: 35px !important;
}
.div-boton-guardar-form-est{
    display: flex;
    justify-content: center;
}

.boton-guardar-form-est{
    border: 2px solid white !important;
    margin-bottom: 10px !important;    
}