
.contenedor-secciones-form{
    display: flex;
    gap: 1rem;
}
.seccion-form{
    flex: 1; /* 🔁 Ocupa el mismo espacio que sus hermanos */
    padding: 1rem;
    box-sizing: border-box; /* Importante para que padding no rompa el layout */
}
.checkbox-multiple-generos{
    display: flex;
    flex-direction: row;
}

.tabla-inscritos {
    margin-top: 1.5rem;
    width: 100%;
    min-height: 200px;
}


.btn-delete {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.btn-delete:hover {
    background-color: #d9363e;
}

