
.contenedor-secciones-form{
    display: flex;
    gap: 1rem;
}
.seccion-form{
    flex: 1; /* 🔁 Ocupa el mismo espacio que sus hermanos */
    padding: 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Importante para que padding no rompa el layout */
}
