.page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.boton-añadir-formularios{
    background-color: #003366;
    color: #ffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    border-radius: 40px;
    margin-right: 0.5%;
    margin-bottom: 1%;
}
.boton-añadir-formularios:hover{
    background-color: #0077cc;
}
.seccion-crud-formularios{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #003366;
    margin:20px auto;
}
.para-separar-de-tabla-formularios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconos-crud-formularios{
    color: #003366;
    font-size: 27px;
    padding: 0;
}
.botones-iconos-crud-formularios{
    border: none;
    background-color: #ffff;
}  
.icono-editar-formulario{
    color: #003366;
}
.icono-eliminar-formulario{
    color: #cc3a3a;
}
.icono-orden-pago-formulario{
    color: #059600;
}
.contenedor-botones-crud-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.label-botones-crud-forms{
    margin: 0;
    color: #003366;
}


.seccion-botones-inscripciones-convocatoria{
    width: 60%;
    border: none;
    display: grid;
    gap: 3rem;
}
.label-seleccionar-convocatoria{
    margin-bottom: 3rem;
}
.botones-inscripciones-convocatoria{
    background-color: #ffff;
    color: #003366;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;
    border: none;
    transition: all 1000ms;
    position: relative;
    overflow: hidden;
    outline: 2px solid #003366;
    text-align: center;
}
.botones-inscripciones-convocatoria:hover {
    color: #ffffff;
    transform: scale(1.03);
}

.botones-inscripciones-convocatoria::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #003366;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1500ms;
}

.botones-inscripciones-convocatoria:hover::before {
    width: 250%;
}
@media (max-width: 600px){
  .seccion-botones-inscripciones-convocatoria{
    width: 75%;
}
  .botones-campos-mod{
        padding: 15px;
    }
}