.page-container-modificar-cuenta{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.seccion-formulario-modificar-cuenta{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-label-input-modificar-cuenta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70%;
    margin-bottom: 0;
}
form{
    margin-top: 3%;
}
.cont-form-mod{
    width: 40%;
}
.seccion-formulario-modificar-cuenta p, h2{
    color: #003366;
}
.campo-contraseña-mod-cuenta{
    margin-bottom: 0;;
}