.orden-pago-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #003366;
}
.contenedor-fila-1-orden{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.seccion-botones-orden{
    display: flex;
    justify-content: space-around;
}
.boton-volver-orden-pago{
    background-color: #ffff !important;
    color: #003366 !important;
    border: #003366 solid 2px !important;
}
.contenedor-verificar-pago{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contenedor-registro-form-pago{
    width: 50%;
}