.registro-form-field {
    display: flex;
    flex-direction: column; /* Esto alinea el label arriba y el input abajo */
    margin-bottom: 1rem;
    font-size: 16px;
    width: 95%;
    color: #003366;
    font-weight: 500;
}
.input-registro{
    background-color: #ffff !important;
    border: 0.8px solid #3498db !important; /* Cambia el color como quieras */
    border-radius: 10px;
    font-size: 1em;
    padding: 0.6em 0.6em 0.6em 1em;
}
.input-registro:focus {
    outline: none;
    border: 2px solid #003366 !important; /* Color del borde al enfocar */
    box-shadow: 0 0 3px #003366; /* Sombra opcional para dar efecto suave */
}  
.nombre-registro{
    font-size: 1em;
}
.radio-group {
    display: flex;
    gap: 1rem;
}

.radio-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;
}



