.registro-form-field {
    display: flex;
    flex-direction: column; /* Esto alinea el label arriba y el input abajo */
    margin-bottom: 1rem;
    font-size: 16px;
    width: 95%;
    color: #003366;
    font-weight: 500;
}
.input-registro{
    background-color: #ffff !important;
    border: 0.8px solid #3498db !important; /* Cambia el color como quieras */
    border-radius: 10px !important;
    font-size: 1em;
    padding: 0.6em 0.6em 0.6em 1em;
}
.input-registro:focus {
    outline: none;
    border: 2px solid #003366 !important; /* Color del borde al enfocar */
    box-shadow: 0 0 3px #003366; /* Sombra opcional para dar efecto suave */
}  
.nombre-registro{
    font-size: 1em;
}
.radio-group {
    display: flex;
    gap: 1rem;
}

.radio-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;
}
.input-wrapper {
    position: relative;
    width: 100%;
}

.input-icon-wrapper {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 1.2rem;
    pointer-events: none;
    color: #003366;
}

.input-password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 1.2rem;
    cursor: pointer; /* el ojo si es clickeable */
    color: #003366;
}

.input-con-icono-real {
    width: 100%;
    padding: 10px 40px 10px 40px; /* Espacio a la izquierda (para icono) y derecha (para el ojo) */
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: white;
    outline: none;
}

.input-con-icono-real:focus {
    border-color: #4CC4FF;
}




